@import "./variables";

footer {
    width: 100%;
    background-color: $secondaryColor;

    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;
    }

}
