@import "./variables";
aside {
    display: flex;
    justify-content: center;
    position: sticky;
    top:0px;
    max-width: 100%;
    align-self: flex-start;


    ul {
        list-style: none;
        padding-top: 36px;
        width: 100%;


        li {
            padding: 16px;
            background-color: $primaryColor;
            text-align: center;
            margin-top: 8px;

        }

        a {
            color:black;

            :hover {
                color:$secondaryColor;
            }
        }

    }
}